<!DOCTYPE html>
<html lang="es">

<head>
    <title>Nomina</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href=".\assets\img\logo.png" type="image/x-icon">
    <link rel="" type="text/css" href="">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body class="fondo2">

    <header id="login-header">
        <div class="container-fluid row">
            <section class="col-xs-12 col-md-2">
                <img id="login-logo" src=".\assets\img\logo.png">
            </section>
            <section class="col-xs-12 col-md-10">
                <h1>Universidad Iberoamericana del Ecuador</h1>
            </section>
        </div>
    </header>
    <nav class="menu ">
        <ul class="nav">
            <li class="nav-item col-12 col-sm-2" *ngFor="let nav of navMenu">
                <a class="nav-link " [routerLink]=nav.route>{{ nav.name }}</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <div class=" main container col-11 col-sm-10 col-md-9 col-lg-9">
        <div class="nominaForm">
            <h2 class="subtitulo">Busqueda de regla salarial</h2>
            <div>
                <div class=" form-group row">

                    <label for="reporte"><b>Reporte de: </b></label>
                  
                    <div class="col-12 col-sm-9" style="margin-left: 2px; margin-right: 2px;">
                        <input class="form-control " name="searchText" type="search" placeholder="Buscar..."
                            [(ngModel)]="searchText">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group row">
                <table class="table table-responsive-md table-bordered table-hover">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Decimo Tercero</th>
                        <th scope="col">Decimo Cuarto</th>
                        <th scope="col">fondos De Reserva</th>
                    </tr>
                    <tbody>

                        <tr *ngFor="let salaryRule of salaryRules| filter:searchText">
                            <td>{{ salaryRule.id}}</td>
                            <td>{{ salaryRule.employee.ci}}</td>
                            <td>{{ salaryRule.employee.name}}</td>
                            <td>{{ salaryRule.salary}}</td>
                            <td>{{ salaryRule.decimoTercero}}</td>
                            <td>{{ salaryRule.decimoCuarto}}</td>
                            <td>{{ salaryRule.fondosDeReserva}}</td>
                            <td><button (click)="deleteSalaryRule(salaryRule.id)" class="btn btn-danger">Eliminar</button>
                                <button (click)="updateSalaryRule(salaryRule.employee.ci)" class="btn btn-info"
                                >Modificar</button>     
                            </td>

                        </tr>


                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid row">
            <div class="container-right icon1">
                <ul>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span id="tel">593 2 2903573 - 593 2 2230401</span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span id="map">Av. 9 de Octubre N25-12 y Colón (Esq.)</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span id="mail">info@unibe.edu.ec</span>
                    </li>
                </ul>
            </div>
            <div class="copy">
                <span>© Universidad Iberoamerciana del Ecuador</span>
            </div>
            <div class="iconosposition">
                <ul class="iconos">
                    <li class="facebook">
                        <a href="https://www.facebook.com/unibe.edu.ec/" title="Facebook" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="twitter">
                        <a href="https://twitter.com/unibe_ec?ref_src=twsrc%5Etfw&amp;ref_url=http%3A%2F%2Flocalhost%2Fjoomla%2F"
                            title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="instagram">
                        <a href="https://www.instagram.com/unibe_ec/" title="YouTube" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="linkedin">
                        <a href="https://www.linkedin.com/school/unibe-ecuador/" title="linkedin" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </footer>
</body>

</html>
