<!DOCTYPE html>
<html lang="es">

<head>
  <title>Nomina</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href=".\assets\img\logo.png" type="image/x-icon">
  <link rel="" type="text/css" href="">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body class="fondo2">

  <header id="login-header">
    <div class="container-fluid row">
      <section class="col-xs-12 col-md-2">
        <img id="login-logo" src=".\assets\img\logo.png">
      </section>
      <section class="col-xs-12 col-md-10">
        <h1>Universidad Iberoamericana del Ecuador</h1>
      </section>
    </div>
  </header>
  <nav class="menu ">
    <ul class="nav">
      <li class="nav-item col-12 col-sm-2" *ngFor="let nav of navMenu">
        <a class="nav-link " [routerLink]=nav.route>{{ nav.name }}</a>
      </li>
    </ul>
  </nav>
  <br>
  <br>
  <div class="main container-fluid col-11 col-sm-9 col-md-7 col-lg-5">

    <form class="nominaForm" [formGroup]="myForm" (ngSubmit)="submit()" novalidate>

      <h2 class="subtitulo">Registro de empleado</h2>
  <!--
      <label for="search"><b>Buscar Empleado: </b></label>
   <div class=" row">
        <div class="col-12 col-sm-6">
          <input matInput [(ngModel)]="filterPost" class="form-control mr-sm-2" name="filterPost" placeholder="Buscar por CI">
        </div>
        <div class="col-12 col-sm-4" style="margin-top: 8px;">
          <button class="btn btn-success " (click)="sync()">Search</button>
        </div>
      </div>-->
      <div class="form-group">
        <i class="fa fa-user" aria-hidden="true"></i>
        <label for="name">Nombre</label>
        <input  [(ngModel)]="employee.name" type="text" class="form-control" formControlName="name" name="name" pattern="[A-Za-z ]+"
          title="Ingrese solo letras " required>
      </div>
      <div class="form-group">
        <i class="fa fa-user" aria-hidden="true"></i>
        <label for="apellido">Apellidos</label>
        <input  [(ngModel)]="employee.surname" type="text" class="form-control" formControlName="apellido" name="apellido" pattern="[A-Za-z ]+"
          title="Ingrese solo letras " required>
      </div>
      <div class="form-group">
        <i class="fa fa-id-card" aria-hidden="true"></i>
        <label for="cedula">Cedula de Identidad</label>
        <input [(ngModel)]="employee.ci"  type="text" class="form-control" formControlName="cedula" name="cedula" pattern="[0-9]{10}"
          title="Ingrese 10 digitos y solo numeros" required>
      </div>
      <div class="form-group">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <label for="cargo">Cargo</label>
        <select [(ngModel)]="employee.position" class="form-control" name="cargo" formControlName="cargo" required>
          <option>Secretario</option>
          <option>Decano</option>
          <option>Director</option>
          <option>Docente</option>
        </select>
      </div>
      <div class="form-group">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <label for="email">Email Personal</label>
        <input [(ngModel)]="employee.email" type="email" class="form-control" formControlName="email" name="email" required>
      </div>

      <div class="row">
        <button type="submit" name="submit" class="botonRegistro btn btn-primary" [disabled]="myForm.invalid" onclick="alert('El empleado fue creado')" required>Registrar
          Empleado</button>
      </div>
    </form>
  </div>
</body>
<footer>
  <div class="container-fluid row">
    <div class="container-right icon1">
      <ul>
        <li>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span id="tel">593 2 2903573 - 593 2 2230401</span>
        </li>
        <li>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span id="map">Av. 9 de Octubre N25-12 y Colón (Esq.)</span>
        </li>
        <li>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span id="mail">info@unibe.edu.ec</span>
        </li>
      </ul>
    </div>
    <div class="copy">
      <span>© Universidad Iberoamerciana del Ecuador</span>
    </div>
    <div class="iconosposition">
      <ul class="iconos">
        <li class="facebook">
          <a href="https://www.facebook.com/unibe.edu.ec/" title="Facebook" target="_blank"><i
              class="fab fa-facebook-f"></i></a>
        </li>
        <li class="twitter">
          <a href="https://twitter.com/unibe_ec?ref_src=twsrc%5Etfw&amp;ref_url=http%3A%2F%2Flocalhost%2Fjoomla%2F"
            title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="instagram">
          <a href="https://www.instagram.com/unibe_ec/" title="YouTube" target="_blank"><i
              class="fab fa-instagram"></i></a>
        </li>
        <li class="linkedin">
          <a href="https://www.linkedin.com/school/unibe-ecuador/" title="linkedin" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
        </li>
      </ul>

    </div>
  </div>
</footer>

</html>